*{
   
        font-family: "Roboto", sans-serif;
        background: hsl(234, 29%, 20%);
        
      
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.maincontainer{
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    
}
button{
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0px;
    width: 400px;
    color: white;
    cursor: pointer;
}
h1{
    color:  hsl(231, 7%, 60%);
    background-color: white;
}
img{
    background-color: white;
    width: 50px;
}
h3{
    margin: 0;
    padding: 0;
    background-color: white;
}